.header{
    color:plum
    background-color:aqua;
}

.container{
    position: relative;
    text-align: center;
}
#catpic{
    position: relative;
    height: 350px;
    width:400px;
}
.text{
    font-size: 30px;
    background-color: rgb(189, 246, 246);
    color:black;
    position:relative;
    padding: 10px;
    bottom:250px;
    right: 400px;
    
}